{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}


<style>
.maincontent {
    text-align: center;
    align-content: center;
    width:30%;
  }
  .login{
    padding-left:35%;
    padding-right: 35%;
  }
</style>

{% block main %}
<div class="login">
<form action="/login" method="post">
        <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        <input class="form-control" name="password" placeholder="Password" type="password">
    <button class="btn btn-primary" type="submit">Login</button>
</form>
</div>
{% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

{% endblock %} 
